<collapsible-group title="{$ title || makeTitle(name) $}" on-add="add(item[name], {type: 'string', value: ''})">
  <div class="three-columns" ng-repeat="subItem in item[name]"
       ng-class="{dictionary: subItem.type == 'dictionary', list: subItem.type == 'list'}">
    <div class="left-column">
      <div class="form-group">
        <label for="elem-{$ $id $}.$index">Key Type</label>
        <select id="elem-{$ $id $}.$index" class="form-control" ng-model="subItem.type">
          <option ng-repeat="value in ['string', 'list', 'dictionary']"
                  value="{$ value $}" ng-selected="subItem.type == value">{$ makeTitle(value) $}</option>
        </select>
      </div>
    </div>
    <div ng-switch="subItem.type">
      <!-- draw string input -->
      <div class="right-column" ng-switch-when="string">
        <div class="form-group">
          <label>&nbsp;</label>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="subItem.value">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="remove(item[name], subItem)">
                <i class="fa fa-minus-circle"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <!-- END: draw string input -->
      <!-- draw dictionary inputs -->
      <div ng-switch-when="dictionary" ng-controller="dictionaryCtrl">
        <div ng-repeat="(key, value) in subItem.value">
          <div ng-hide="$first" class="left-column"></div>
          <div class="right-column">
            <div class="form-group">
              <label for="elem-{$ $id $}.{$ key $}">
                <editable value="key" label="New Name"></editable>
              </label>
              <div class="input-group">
                <input type="text" id="elem-{$ $id $}.{$ key $}" class="form-control" ng-model="value">
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-click="removeKey(subItem.value, key) || remove(item[name], subItem)">
                    <i class="fa fa-minus-circle"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div ng-hide="$last" class="clearfix"></div>
          <div ng-show="$last" class="add-btn button-column">
            <button class="btn btn-default btn-sm pull-right" ng-click="addAutoKey(subItem.value)">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- END: draw dictionary inputs -->
      <!-- draw list inputs -->
      <div ng-switch-when="list" ng-controller="listCtrl">
        <div ng-repeat="value in subItem.value track by $index">
          <div ng-hide="$first" class="left-column"></div>
          <div class="right-column">
            <label ng-show="$first">&nbsp;</label>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="value">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="remove(subItem.value, value) || remove(item[name], subItem)">
                  <i class="fa fa-minus-circle"></i>
                </button>
              </span>
            </div>
          </div>
          <div ng-hide="$last" class="clearfix"></div>
          <div ng-show="$last" class="add-btn button-column">
            <button class="btn btn-default btn-sm pull-right" ng-click="add(subItem.value, '')">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- END: draw list inputs -->
    </div>
  </div>
</collapsible-group>
