<collapsible-group title="{$ spec.title || makeTitle(spec.name) $}" additive="true">
  <div class="three-columns" ng-repeat="subItem in item[spec.name] track by subItem.id"
       ng-class="{dictionary: subItem.type == 'dictionary', list: subItem.type == 'list'}">
    <div class="left-column">
      <div class="form-group">
        <label for="elem-{$ $id $}.$index">Key Type</label>
        <select id="elem-{$ $id $}.$index" class="form-control">
          <option ng-repeat="value in ['string', 'list', 'dictionary']"
                  value="{$ value $}" ng-selected="subItem.type == value">{$ makeTitle(value) $}</option>
        </select>
      </div>
    </div>
    <div ng-switch="subItem.type">
      <!-- draw string input -->
      <div class="right-column" ng-switch-when="string">
        <div class="form-group">
          <label>&nbsp;</label>
          <input type="text" class="form-control" ng-model="subItem.value">
        </div>
      </div>
      <!-- END: draw string input -->
      <!-- draw dictionary inputs -->
      <div ng-switch-when="dictionary">
        <div ng-repeat="(key, value) in subItem.value track by key">
          <div ng-hide="$first" class="left-column"></div>
          <div class="right-column">
            <div class="form-group">
              <label for="elem-{$ $id $}.{$ key $}">
                <editable value="key" label="New Name"></editable>
              </label>
              <div class="input-group">
                <input id="elem-{$ $id $}.{$ key $}" type="text" class="form-control" ng-model="value">
                <i class="fa fa-minus-circle input-group-addon"></i>
              </div>
            </div>
          </div>
          <div ng-hide="$last" class="clearfix"></div>
          <div ng-show="$last" class="add-btn button-column">
            <button class="btn btn-default btn-sm pull-right"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
      <!-- END: draw dictionary inputs -->
      <!-- draw list inputs -->
      <div ng-switch-when="list">
        <div ng-repeat="value in subItem.value track by $index">
          <div ng-hide="$first" class="left-column"></div>
          <div class="right-column">
            <label ng-show="$first">&nbsp;</label>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="value">
              <i class="fa fa-minus-circle input-group-addon"></i>
            </div>
          </div>
          <div ng-hide="$last" class="clearfix"></div>
          <div ng-show="$last" class="add-btn button-column">
            <button class="btn btn-default btn-sm pull-right"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
      <!-- END: draw list inputs -->
    </div>
  </div>
</collapsible-group>
