<div class="row bottom-xs dictionary">
  <div ng-class="value.inline ? 'col-xs-10' : 'col-xs-12'">
    <div ng-repeat="(key, field) in value | extractFields track by field.uid()">
      <labeled ng-if="field.isAtomic()" label="field.keyValue" for="{$ field.uid() $}">
        <div class="input-group">
          <typed-field id="{$ field.uid() $}" value="field"></typed-field>
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="value.removeItem(field.keyValue())">
            <i class="fa fa-minus-circle"></i>
          </button>
        </span>
        </div>
      </labeled>
      <div ng-if="!field.isAtomic()">
        <collapsible-group ng-if="!field.inline" class="col-xs-12" title="field.keyValue"
                           on-remove="value.removeItem(field.keyValue())"
                           additive="{$ field.isAdditive() $}" on-add="field.add()">
          <typed-field value="field"></typed-field>
        </collapsible-group>
        <typed-field ng-if="field.inline" value="field"></typed-field>
      </div>
    </div>
  </div>
  <div ng-if="value.inline" class="col-xs add-entry" style="margin-bottom: 15px">
    <button class="btn btn-default btn-sm pull-right" ng-click="value.add()">
      <i class="fa fa-plus"></i></button>
  </div>
</div>
