<div class="frozendict">
  <div ng-repeat="row in value | extractFields:value.fieldsOrdering | chunks:2 track by $index">
    <div ng-repeat="(key, field) in row track by field.uid()">
      <div ng-if="field.isAtomic()" class="col-xs-6">
        <labeled label="key" for="{$ field.uid() $}">
          <typed-field value="field" type="{$ field.getType() $}"></typed-field>
        </labeled>
      </div>
      <div ng-if="!field.isAtomic()">
        <collapsible-group ng-if="!field.inline" class="col-xs-12" title="key"
                           additive="{$ field.isAdditive() $}" on-add="field.add()">
          <div ng-class="field.isPlainStructure() ? 'col-xs-6' : 'col-xs-12'">
            <typed-field value="field" type="{$ field.getType() $}"></typed-field>
          </div>
        </collapsible-group>
        <labeled ng-if="field.inline" class="col-xs-6"
                 label="key" for="{$ field.uid() $}">
          <typed-field value="field" type="{$ field.getType() $}"></typed-field>
        </labeled>
      </div>
    </div>
  </div>
</div>
