<div class="row bottom-xs list">
  <div ng-class="value.inline ? 'col-xs-10' : 'col-xs-12'">
    <div ng-repeat="(index, field) in value | extractFields track by field.uid()">
      <div ng-if="field.isAtomic()" class="form-group">
        <div class="input-group">
          <typed-field value="field" type="{$ field.getType() $}"></typed-field>
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="value.remove($index)">
            <i class="fa fa-minus-circle"></i>
          </button>
        </span>
        </div>
      </div>
      <div ng-if="!field.isAtomic()">
        <typed-field value="field" type="{$ field.getType() $}"></typed-field>
      </div>
    </div>
  </div>
  <div ng-if="value.inline" class="col-xs add-btn">
    <button class="btn btn-default btn-sm pull-right" ng-click="value.add()">
      <i class="fa fa-plus"></i></button>
  </div>
</div>
