<div class="section">
  <div class="section-heading row">
    <div class="col-xs-10">
      <h5><a ng-click="isCollapsed = !isCollapsed" class="collapse-entries" href="">
        <i class="fa" ng-class="isCollapsed ? 'fa-plus-square-o' : 'fa-minus-square-o'"></i></a>
        <editable ng-if="editableTitle" ng-model="group.title"
                  ng-model-options="{getterSetter: true}"></editable>
        <span ng-if="!editableTitle">{$ title $}</span>
      </h5>
    </div>
    <div ng-if="additive" class="add-btn col-xs add-entry">
      <button class="btn btn-default btn-sm pull-right" ng-click="onAdd()">
        <i class="fa fa-plus"></i></button>
    </div>
    <div ng-if="removable" class="add-btn col-xs remove-entry">
      <a href="" ng-click="onRemove()">
        <i class="fa fa-times-circle pull-right"></i></a>
    </div>
  </div>
  <div class="section-body " collapse="isCollapsed" ng-transclude>
  </div>
</div>