.panel-default.merlin-panel {
  .panel-heading {
    color: inherit;
    background-color: inherit;
    border: none;
  }
  textarea {
    resize: vertical;
  }
}

editable {
  .fa-pencil {
    color: black;
  }
  button:disabled {
    color: gray;
  }
}

.section {
  h5 {
    font-weight: bold;
  }

  .section-heading {
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.fa-minus-circle {
  color: red;
}

.merlin-panel {
  label {
    font-weight: normal;
  }
  .panel-title {
    font-weight: bold;
  }
}

.list .add-btn {
  margin-bottom: 15px;
}

.well .panel-body pre {
  background-color: inherit;
  border: none;
  margin-bottom: 0;
}

i.fa-times-circle {
  font-size: 15px;
  color: inherit;

  .section .section .section-heading & {
    margin-top: 7px;
  }
};
