@import "/bootstrap/scss/bootstrap";

.two-panels {
  @include make-row();
  .left-panel {
    @include make-xs-column(6);
  }
  .right-panel {
    @include make-xs-column(6);
    .btn-group {
      margin-bottom: 10px;
    }
  }
  .full-width {
    @include make-xs-column(12);
  }
}

.two-columns {
  @include make-row();
  .left-column {
    @include make-xs-column(6);
  }
  .right-column {
    @include make-xs-column(6);
  }
}

.three-columns {
  @include make-row();
  .left-column {
    @include make-xs-column(5);
  }
  .right-column {
    @include make-xs-column(5);
  }
  .both-columns {
    @include make-xs-column(10);
  }
  .button-column {
    @include make-xs-column(2);
  }
}

.panel-default.merlin-panel {
  .panel-heading {
    color: inherit;
    background-color: inherit;
    border: none;
    padding-left: 20px;
  }
  .panel-body {
    padding-left: 20px;
  }
  textarea {
    resize: vertical;
  }
}

editable {
  .fa-pencil {
    color: black;
  }
  button:disabled {
    color: gray;
  }
}

.section {
  .form-group {
    padding-left: 15px;
  }
  .section {
    margin-left: 15px;
  }
  a {
    padding-left: 5px;
    text-decoration: none;
    color: black;
  }
  h5 {
    font-weight: bold;
  }
}

.fa-minus-circle {
  color: red;
}

.merlin-panel {
  label {
    font-weight: normal;
  }
  .panel-title {
    font-weight: bold;
  }
}

.popover-content > button {
  margin: 5px;
  float: right;
}

.popover.right {
  width: 200px;
}

.dictionary .add-btn {
  margin-top: 26px;
}

.list .add-btn {
  margin-top: 2px;
  &.varlist-1st-row {
    margin-top: 26px;
  }
}

.right-column .form-group {
  padding-left: 0;
}

.well .panel-body pre {
  background-color: inherit;
  border: none;
  margin-bottom: 0;
}

i.fa-times-circle {
  padding-right: 10px;
  .section .section & {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
  }
}

.has-feedback {
  input {
    width: 100%;
  }
  .form-control-feedback {
    top: -5px;
    right: 7px;
  }
}
