@import "/bootstrap/scss/bootstrap";

.two-panels {
  @include make-row();
  .left-panel {
    @include make-xs-column(6);
  }
  .right-panel {
    @include make-xs-column(6);
  }
  .full-width {
    @include make-xs-column(12);
  }
}

.two-columns {
  @include make-row();
  .left-column {
    @include make-xs-column(6);
  }
  .right-column {
    @include make-xs-column(6);
  }
}

.three-columns {
  @include make-row();
  .left-column {
    @include make-xs-column(5);
  }
  .right-column {
    @include make-xs-column(5);
  }
  .both-columns {
    @include make-xs-column(10);
  }
  .button-column {
    @include make-xs-column(2);
  }
}

.panel-default.merlin-panel {
  .panel-heading {
    color: inherit;
    background-color: inherit;
    border: none;
    padding-left: 20px;
    a:before {
      font-family: 'FontAwesome';
      content: "\f0d7";
      margin-left: -10px;
      float: left;
      color: grey;
    }
    a.collapsed:before {
      content: "\f0da";
    }
  }
  .panel-body {
    padding-left: 20px;
  }
  textarea {
    resize: vertical;
  }
}

.section {
  .form-group {
    padding-left: 15px;
  }
  .section {
    margin-left: 15px;
  }
  a {
    padding-left: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    &[data-toggle="collapse"] {
      &:before {
        font-family: 'FontAwesome';
        content: "\f147";
        font-weight: normal;
        float: left;
        color: grey;
      }
      &.collapsed:before {
        content: "\f196";
      }
    }
  }
}

.fa-minus-circle.input-group-addon {
  color: red;
}

.merlin-panel {
  label {
    font-weight: normal;
  }
  .panel-title {
    font-weight: bold;
  }
}

.popover-content > button {
  margin: 5px;
  float: right;
}

.popover.right {
  width: 200px;
}

.dictionary .add-btn {
  margin-top: 26px;
}

.list .add-btn {
  margin-top: 2px;
}

.right-column .form-group {
  padding-left: 0;
}

.well .panel-body pre {
  background-color: inherit;
  border: none;
  margin-bottom: 0;
}

i.fa-times-circle {
  padding-right: 10px;
  .section .section & {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
  }
}
