{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}create_workbook{% endblock %}
{% block form_action %}
  {% if form.initial.workbook_id %}
    {% url 'horizon:project:mistral:edit' form.initial.workbook_id %}
  {% else %}
    {% url 'horizon:project:mistral:create' %}
  {% endif %}
{% endblock %}

{% block modal-header %}
  {% if form.initial.workbook_id %}
    {% trans "Edit Workbook" %}
  {% else %}
    {% trans "Create Workbook" %}
  {% endif %}
{% endblock %}
{% block modal_id %}create_workbook_modal{% endblock %}

{% block modal-body %}
<div class="left">
  <div id="toolbar">
    <button id="create-workbook">Reset Workbook</button>
    <button id="save-workbook">Update YAML presentation</button>
    <div id="controls"></div>
  </div>
</div>
<div class="right">
  <pre></pre>
  <input name="workbook" id="json-output" type="hidden" value="{{ form.initial.workbook }}"/>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit"
         value="{% if form.initial.workbook_id %}{% trans "Edit" %}{% else %}{% trans "Create" %}{% endif %}" />
  <a href="{% url 'horizon:project:mistral:index' %}" class="btn btn-default secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}

{% block modal-js %}
  <script src="{{ STATIC_URL }}mistral/js/schema.js"></script>
  <script src="{{ STATIC_URL }}mistral/js/workbook.js"></script>
{% endblock %}