{% extends "merlin/base.html" %}
{% load i18n %}
{% block title %}{% trans "Create Workbook" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Workbooks") %}
{% endblock page_header %}

{% block merlin-js %}
  <script type="text/javascript" src="{{ STATIC_URL }}mistral/js/mistral.init.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}mistral/js/mistral.workbook.controllers.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}mistral/js/mistral.workbook.models.js"></script>
{% endblock %}

{% block main %}
<h3>Create Workbook</h3>
  <div id="create-workbook" class="fluid-container" ng-cloak ng-controller="workbookCtrl"
       ng-init="init({{ id|default:'undefined' }}, '{{ yaml }}', '{{ commit_url }}', '{{ discard_url }}')">
    <div class="well">
      <div class="two-panels">
        <div class="left-panel">
          <div class="pull-left">
            <h4><strong>{$ workbook.get('name') $}</strong></h4>
          </div>
          <div class="pull-right">
            <div class="table-actions clearfix">
              <button ng-click="addAction()" class="btn btn-default btn-sm"><span class="fa fa-plus">Add Action</span></button>
              <button ng-click="addWorkflow()" class="btn btn-default btn-sm"><span class="fa fa-plus">Add Workflow</span></button>
            </div>
          </div>
          <div class="clearfix"></div>
          <panel ng-repeat="panel in workbook | extractPanels track by panel.id"
                 content="panel">
            <div ng-repeat="row in panel | extractRows track by row.id">
              <div ng-class="{'two-columns': row.index !== undefined }">
                <div ng-repeat="item in row | extractItems track by item.id"
                     ng-class="{'right-column': item.isAtomic() && $odd, 'left-column': item.isAtomic() && $even}">
                  <typed-field value="item" type="{$ item.getType() $}"></typed-field>
                  <div class="clearfix" ng-if="$odd"></div>
                </div>
              </div>
            </div>
          </panel>
        </div>
        <div class="right-panel">
          <div class="btn-group btn-toggle pull-right">
            <button ng-click="isGraphMode = true" class="btn btn-sm"
                ng-class="isGraphMode ? 'active btn-primary' : 'btn-default'">Graph</button>
            <button ng-click="isGraphMode = false" class="btn btn-sm"
                ng-class="!isGraphMode ? 'active btn-primary' : 'btn-default'">YAML</button>
          </div>
          <div class="clearfix"></div>
          <div class="panel panel-default">
            <div class="panel-body" ng-show="!isGraphMode">
              <pre>{$ workbook.toYAML() $}</pre>
            </div>
            <div class="panel-body" ng-show="isGraphMode">
              Here will be a fancy Graph View as soon as we implement it!
            </div>
          </div>
        </div>
      </div>
      <!-- page footer -->
      <div class="two-panels">
        <div class="full-width">
          <div class="pull-right">
            <button ng-click="discardWorkbook()" class="btn btn-default cancel">Cancel</button>
            <button ng-click="commitWorkbook()" class="btn btn-primary">
              {$ workbookID ? 'Modify' : 'Create' $}
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
